@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-inter {
    font-family: var(--font-inter), system-ui, sans-serif;
  }
  .font-playfair {
    font-family: var(--font-playfair), Georgia, serif;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
